{% extends 'base.html.twig' %}

{% block title %}Don réussi{% endblock %}

{% block main %}
<h1>Votre don a été effectué avec succès !</h1>
<p>Merci pour votre générosité.</p>

{% include 'components/carousel.html.twig'%}
{% endblock %}
