{% extends 'base.html.twig' %}

{% block title %}Refuge de St brès pour équidés{% endblock %}

        {% block javascripts %}

        {% endblock %}

        {% block banner %}
            <div class="banner">
                <img src="{{ asset('Images/Banner.webp') }}" alt="Bannière du Refuge de Saint Brès">
            </div>
        {% endblock %}
        
        {% block main %}
        
            <h1>Bienvenue au refuge de Saint Brès</h1>

            <div class="block">
                <img src="{{ asset('Images/Photo.webp') }}" alt="home_picture" class="picture" />

                    <div class="presentation">
                    <h2> Bienvenue au Refuge de Saint Brès pour Équidés</h2>
                        <h3>Les présentations sont de mises</h3>

                        <p>Au cœur d'une magnifique campagne, niché dans un coin préservé de la nature, se trouve le Refuge de Saint Brès pour Équidés. 
                        C'est un lieu empreint de passion, de compassion et de dévouement, fondé et dirigé par un couple extraordinaire, Sophie et Julien.</p>

                        <h3>L'Amour des Chevaux, une Vocation</h3>

                        <p>Sophie et Julien partagent une passion profonde pour les chevaux depuis leur plus jeune âge. 
                        Leur vocation s'est concrétisée lorsqu'ils ont décidé d'unir leurs forces pour créer ce refuge, 
                        offrant ainsi une seconde chance à de nobles créatures qui ont traversé des épreuves difficiles.</p>

                        <h3>Un Sanctuaire pour les Chevaux Maltraités</h3>

                        <p>Le Refuge de Saint Brès pour Équidés est bien plus qu'un simple abri pour les chevaux. 
                        C'est un véritable sanctuaire où chaque cheval, qu'il soit maltraité, en fin de carrière ou abandonné, est accueilli avec amour et respect. 
                        Sophie et Julien consacrent leur vie à veiller sur ces magnifiques équidés, leur offrant des soins dévoués et une réhabilitation attentive.</p>

                        <h3>Une Retraite Heureuse</h3>

                        <p>Le refuge propose également une retraite paisible pour les chevaux âgés, leur permettant de vivre leurs dernières années dans un environnement serein et familial. 
                        Les pâturages verdoyants et les soins attentifs font de cette étape de la vie une période heureuse et confortable pour ces nobles compagnons.</p>

                        <h3>Le Refuge de Saint Brès, une Famille Élargie</h3>

                        <p>Sophie et Julien considèrent chaque cheval comme un membre de leur propre famille. 
                        Leur engagement envers ces créatures majestueuses se reflète dans chaque geste de tendresse et chaque moment passé à leur côté. 
                        Au Refuge de Saint Brès pour Équidés, chaque jour est une célébration de la beauté, de la force et de la grâce des chevaux.</p>

                        <h3>Venez Visiter et Soutenir Notre Refuge</h3>

                        <p>Nous invitons tous les amoureux des chevaux à venir visiter le Refuge de Saint Brès pour Équidés, à en apprendre davantage sur notre mission et à soutenir notre cause. 
                        Votre aide et votre affection sont essentielles pour nous permettre de continuer notre travail de sauvetage et de réhabilitation des chevaux en détresse. 
                        Rejoignez-nous dans notre engagement envers ces merveilleux animaux, car ensemble, nous pouvons leur offrir une vie meilleure..</p>
                    </div>
                </div>
        {% include 'components/carousel.html.twig'%}

{% endblock %}
