/*Import Font types */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab&display=swap');

/* Styles généraux */
body{
    font-family:'Open Sans',sans-serif;
    font-size:medium;
    min-height:100vh;
    margin:0;
    background-color:#eddec772!important;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Roboto Slab',serif;
}
h1,h2{
    text-align:center;
}
.banner img{
    width:100%;
    height:80vh;
}
.logo{
    height:100px;
    width:auto;
    object-fit:contain
    ;z-index:1;
    margin-top:50px;
    margin-right:50px;
}
.navBar{
    display:flex;
    flex-grow:1;
    align-items:center;
    justify-content:center;
    background-color: #eddec772;
    height : 8vh;
    width: auto;

}
.navBar ul{
    list-style-type:none;
    display:flex;
    align-items:center;
    padding:0;
}
.navBar ul a{
    font-family:'Roboto Slab',serif;
    text-decoration:none;
    color:#000000;
    font-size:14pt;
    padding:0 20px;
}
.iconLogin{
    height: 50px;
    width:50px;
}
/* Conteneur principal */
.content{
    width: 100%;
    height: auto;
    display:flex;
    flex-grow:1;
    margin-right:1%;
    margin-left:1%;
    margin-top:5%;
    align-items:center;
}
/* Aside */
.aside{
    flex-basis:15%;
    width:15%;
    height:90%;
    overflow-y:auto;
    margin-bottom:5%;
    margin-right:1%;
}
.aside-toggle{
    display:none;
}
/* Main */
.main{
    flex-grow:1;
    padding-left:4%;
    padding-right:4%;
    width:85%;
    height: auto;
    flex-basis:85%;
}
/* Picture */
.picture{
    width:50%;
    height:auto;
    aspect-ratio: 16 / 9;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
/* Footer */
.footer{
    width: 100%;
    height: 15vh;
    padding:2%;
    background-color:#EDDEC7;
    color:#000000;
    margin-top:5%;
}
.footer a{
    text-decoration:none;
}
/* Menu Burger */
.burger-menu{
    display:none;
    cursor:pointer;
    background-color:#52907F;
}
.burger-menu span{
    display:block;
    height:2px;
    width:25px;
    background-color:#FAF5E9;
    margin:5px;
    transition:all 0.3s ease;
}
.donButton{
    width:100px;
    height:35px;
    background-color:#183926;
    color:#ffffff;
    cursor:pointer;
    border:none;
    border-radius:10px;
}
/* Media Queries */
@media (max-width: 480px) {
    /* Ajustement du conteneur principal */
    .content{
        flex-direction:column;
        width: auto;
        height: auto;
    }
    .banner img{
        width:100%;
        height:auto;
    }
    /* Ajustement de l'Aside et du Main */
    .aside,.main{
        flex-basis:auto;
        max-width:80%;
        margin:0;
        padding:2%;
        max-height:50%;
    }
    .aside{
        display:none;
    }
    .aside.active{
        display:block;
    }
    .aside-toggle{
        display:block;
        width:150px;
        height:35px;
        background-color:#52907F;
        color:#ffffff;
        cursor:pointer;
        border:none;
        border-radius:10px;
    }
    .navLinks{
        position:fixed;
        top:0;
        right:0;
        height:100vh;
        width:50%;
        background-color:#52908095;
        z-index:1000;
        transform:translateX(100%);
        transition:transform 0.3s ease-in-out;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .navLinks.active{
        transform:translateX(0);
    }
    .navBar ul{
        list-style-type:none;
        margin:0;
        padding-top:15%;
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
    }
    .navLinks ul a{
        color:#ffffff;
    }
    .navLinks li{
        margin-top:5%;
    }
    .burger-menu{
        display:block;
        position:absolute;
        top:20px;
        right:20px;
        z-index:1001;
    }
    .navBar{
        display:flex;
        flex-grow:1;
        overflow:hidden;
        align-items:center;
        justify-content:flex-start;
    }
    .logo{
        max-width:5em;
        margin:1%;
        margin-top:4%;
    }
}
