#form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

#form h2 {
    margin-bottom: 20px;
}

#form .form-group {
    margin-bottom: 15px;
}

#form input, #form select, #form textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form button.btnSave {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#form button.btnSave:hover {
    background-color: #183926;
    justify-content: center;
}


#form button.btnBack {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#form button.btnBack:hover {
    background-color: #0056b3;
    justify-content: center;
}

.form-subtitle{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
}