{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/formulaire.css') }}">
{% endblock %}

{% block title %}Calendrier{% endblock %}

{% block main %}
    <h1>Create new Calendrier</h1>

    {{ include('calendrier/_form.html.twig') }}


{% endblock %}
